html, body {
	height:100%;
}
body {
	position: relative;
	margin: 0;
	padding: 0;
    font-family: nunito, Helvetica, Verdana, Arial, Sans-Serif;
	background: #F7F7F7;
	font-size: 14;
}

a{
	text-decoration: none;
}

#header{
	position: relative;
	background-image: url('../images/header.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(83, 255, 29, 0.22);
	height: 235px;
	width: 100%;
	top: 0;
	margin: 0;
	padding: 0;
}

hr{
	width: 70%;
	border: none;
	background: #444;
	position: absolute;
	height: 1px;
	top: 225px;
}

.textfield{
	height: 30px;
	font-size: 1.2em;
	width: 180px;
	margin: 10px;
	border-radius: 3px;
	border: 1px solid #555;
}

.textfield:focus{
	box-shadow: 0 0 4px 2px #47A3FF;	
	border: none;
}

.rbs-button {
	cursor: pointer;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
    display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	margin: 3px;
	}
							 
.rbs-modern-detail {
	padding: 10px 30px 9px 30px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAYAAABIdFAMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHhJREFUeNo8jksKBCEMRJOyceFyYPqQfcu5j4ig+EPMmOmhs3hUZfEoiMgFIvooRLEwxqA79d5FQWitrScJaq1/7EoopQjWWoIYIyGlxJhzCrz3jJyzKPhQwRFCoEdFauE7bQGMc+6FvYp1ARtr7Vsrfj+z7/wKMABiSl9WcInYcgAAAABJRU5ErkJggg==);
	background-repeat: repeat-x;
	background-position: top;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	filter: dropshadow(color=#979797, offx=0, offy=1);
	font-size: 15px;
	font-weight: bold;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
}

.rbs-modern-detail.rbs-modern-blue {
	border: 1px solid #003b93;
}

.rbs-modern-blue {
    background-color: hsl(206, 100%, 40%);
}
.rbs-modern-blue:hover {
	background-color: hsl(206, 100%, 45%);
}
.rbs-modern-blue:active {
	background-color: hsl(206, 100%, 35%);
}

#page{
	width: 70%;
	height: 100%;
	background: #DBDBDB;
	border-left: 1px solid #444;
	border-right: 1px solid #444;
	margin: 0 auto;
}
